<div class="page-background">
  <div class="modal-overlay" *ngIf="showDeleteAccountModal" (click)="closeDeleteAccountModal()"></div>
  <div class="modal-card" *ngIf="showDeleteAccountModal">
    <app-delete-account (close)="closeDeleteAccountModal()"></app-delete-account>
  </div>
  <div class="profile-container">
    <h2>My Profile</h2>
    <div *ngIf="loading" class="loading">Loading...</div>
    <div *ngIf="error" class="error">{{ error }}</div>
    <div *ngIf="userData" class="profile-content">
      <ul class="profile-stats">
        <li><span>Username:</span> {{ userData.username }}</li>
        <li><span>Email:</span> {{ userData.email }}</li>
      </ul>
      <h2>Tasks</h2>
      <ul class="profile-stats">
        <li><span>Total Tasks:</span> {{ userData.totalTasks }}</li>
        <li><span>Tasks Done:</span> {{ userData.totalDoneTasks }}</li>
        <li><span>Tasks In Progress:</span> {{ userData.totalInProgressTasks }}</li>
        <li><span>Tasks To Do:</span> {{ userData.totalToDoTasks }}</li>
      </ul>
      <div class="delete-section">
        <h2>Delete Account</h2>
        <div class="center-btn">
          <button class="blue-btn" (click)="openDeleteAccountModal()">
            Delete Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
