<div class="page-background">
  <div class="modal-overlay" *ngIf="showCreateTaskModal" (click)="closeCreateTask()"></div>
  <div class="modal-card" *ngIf="showCreateTaskModal">
    <app-task-create
      (close)="closeCreateTask()"
      (taskCreated)="onTaskCreated($event)">
    </app-task-create>
  </div>
  <div class="modal-overlay" *ngIf="showTaskDetailModal" (click)="closeTaskDetail()"></div>
  <div class="modal-card" *ngIf="showTaskDetailModal">
    <app-task-detail
      [task]="selectedTask"
      (close)="closeTaskDetail()"
      (edit)="openEditTask($event)">
    </app-task-detail>
  </div>
  <div class="modal-overlay" *ngIf="showEditTaskModal" (click)="closeEditTask()"></div>
  <div class="modal-card" *ngIf="showEditTaskModal">
    <app-task-edit
      [task]="taskToEdit"
      (close)="closeEditTask()"
      (taskEdited)="onTaskEdited($event)">
    </app-task-edit>
  </div>
  <div class="page-container">
    <h2>My Tasks</h2>
    <div class="tasklist-actions">
      <div class="tasklist-actions center-btn">
        <button class="blue-btn" (click)="openCreateTask()">Create Task</button>
      </div>
    </div>

    <div *ngIf="loading" class="loading">Loading tasks...</div>

    <ul class="task-list" *ngIf="!loading && tasks.length">
      <li class="task-item" *ngFor="let task of tasks">
        <span class="task-text" [class.done]="task.status === 'DONE'">
          {{ task.title }}
        </span>
        <div>
          <span class="task-text">Status:</span>
          <select
            class="status-dropdown"
            [ngModel]="task.status"
            (change)="onStatusChange(task, $event)"
          >
            <option *ngFor="let option of statusOptions" [value]="option.value">
              {{ option.label }}
            </option>
          </select>
          <button class="task-action-btn view" (click)="openTaskDetail(task)">View</button>
          <button class="task-action-btn delete" (click)="deleteTask(task)">Delete</button>
        </div>
      </li>
    </ul>
    <ng-container *ngIf="!tasks?.length && !error">
      <div class="no-tasks-vertical-center">
        <div class="no-tasks">No tasks found.</div>
      </div>
    </ng-container>
  </div>
</div>

