<header *ngIf="!isAuthPage">
  <nav *ngIf="isAuthenticated" class="navbar">
    <div class="navbar-logo">
        <img src="assets/logo.svg" alt="Logo" class="logo-img">
    </div>
    <div class="navbar-links">
      <button
        class="nav-btn"
        routerLink="/dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Dashboard
      </button>
      <button
        class="nav-btn"
        routerLink="/calendar"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Calendar
      </button>
      <button
        class="nav-btn"
        routerLink="/profile"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Profile
      </button>
      <button
        class="nav-btn"
        routerLink="/logout"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Logout
      </button>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
