<header *ngIf="!isAuthPage">
  <h1>TimeManager App</h1>
  <nav *ngIf="isAuthenticated" class="navbar">
    <a routerLink="/reset-password" routerLinkActive="active">Reset Password</a>
    <a routerLink="/logout" routerLinkActive="active">Logout</a>
    <a routerLink="/delete-account" routerLinkActive="active">Delete Account</a>
    <a routerLink="/reactivate-user" routerLinkActive="active">Reactivate Account</a>
    <a routerLink="/confirm-account" routerLinkActive="active">Confirm Account</a>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
